<!doctype html>
<html>
<head>
  {% load static %} 
  <link rel="stylesheet" type="text/css" href="{% static 'artikel/style.css' %}" /> 
  <title>technikzeugs - {{ artikel.titel|safe }}</title>
</head>
<body>
<h3>{{ artikel.titel|safe }}</h3> 

<div id="artikel-text">{{ artikel.text|safe }}</div>
<div id="artikel-datum">{{ artikel.datum }}</div>
<div id="artikel-tags">{{ artikel.tags|safe }}</div>
<div><a href="http://10.98.228.62/admin/artikel/artikel/{{ artikel.a_id }}/change/">bearbeiten</a></div>

</body>
</html>
