<!doctype html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'artikel/style.css' %}" />
    <link href="{% static 'artikel/favicon.ico' %}" rel="icon" type="image/x-icon" />
    <title>technikzeugs - {{ artikel.titel }}</title>
</head>
<body>
<div id="artikel-backlink" class="ui-link">
    <a href="/artikel/">zurück zu Artikel</a>
</div>
<div id="artikel-container">
  <div id="artikel">
      <div id="artikel-zeile-1">
          <div id="artikel-datum">{{ artikel.datum|date:'Y-m-d' }}</div>
          <div class="ui-link"><a href="/admin/artikel/artikel/{{ artikel.a_id }}/change/">bearbeiten</a></div>
      </div>
      <h3>{{ artikel.titel }}</h3>
      <hr class="artikel-line" />
      <div id="artikel-text">{{ artikel.text }}</div>
      <hr class="artikel-line" />
      <div id="artikel-tags">{{ artikel.tags }}</div>
  </div>
</div>

</body>
</html>
