<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'artikel/style.css' %}" />
<meta content="text/html">
<title>technikzeugs heim</title>
</head>
<body>
<h3>Artikel</h3>

{% if latest_artikel_list %}
   <ul>
   {% for artikel in latest_artikel_list %}
       <li><a href="/artikel/{{ artikel.a_id }}/">
	  <span class="datum">{{ artikel.datum }}</span>
	  {{artikel.titel|safe}}
       </a></li>
   {% endfor %}
   </ul>
{% else %}
   <p>No articles found.</p>
{% endif %}

</body>
</html>
