<!DOCTYPE html>
<html>
<head>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'artikel/style.css' %}" />
    <meta content="text/html">
    <title>technikzeugs heim</title>
</head>
<body>

<div id="search-container">

  <h3>Technikzeugs - Artikel</h3>

  <div id="form-container-suchseite">
      <form id="searchform" action="" method="get">
         <button class="searchbutton" type="submit">suchen</button>
         <input class="searchfield" id="searchbox" name="q"
                type="text" placeholder="enter search term">
      </form>
  </div>

  {% if request.GET %}
      <div id="ergebnis-h4">
          <h4>Ergebnisse für tag "{{ request.GET.q }}"</h4>
      </div>
  {% endif %}

  {% if artikel_list %}
      <ul>
      {% for artikel in artikel_list %}
           <li class="ergebnis"><a href="/artikel/{{ artikel.a_id }}/">
                <span class="datum">{{ artikel.datum|date:"Y-m-d" }}</span>
                <span class="titel">{{ artikel.titel }}</span>
           </a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No articles found. Do not use more than one search term.</p>
  {% endif %}

</div> <!-- search-container -->

</body>
</html>
