<!DOCTYPE html>
<html>
<head>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'artikel/style.css' %}" />
    <link href="{% static 'artikel/favicon.ico' %}" rel="icon" type="image/x-icon" />
    <meta content="text/html">
    <title>technikzeugs heim</title>
</head>
<body>
<div id="search-container">

  <h3>Technikzeugs - Artikel</h3>

  <div id="form-container-suchseite">
      <form id="searchform" action="" method="get">
         <button class="searchbutton" type="submit">suchen</button>
         <input class="searchfield" id="searchbox" name="q"
                type="text" placeholder="enter search term">
      </form>
  </div>

  {% if request.GET %}
      <div id="ergebnis-h4">
          <h4>Ergebnisse für tag "{{ request.GET.q }}"</h4>
      </div>
  {% endif %}

  {% if artikel_list %}
      <ul>
      {% for artikel in artikel_list %}
           <li class="ergebnis" id="{{ artikel.a_id }}">
<!--                 <a href="/artikel/{{ artikel.a_id }}/" id="{{ artikel.a_id }}"> -->
                <span class="datum">{{ artikel.datum|date:"Y-m-d" }}</span>
                <span class="titel">{{ artikel.titel }}</span>
<!--                 </a> -->
                <div class="txt"></div>
           </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No articles found. Do not use more than one search term.</p>
  {% endif %}

</div> <!-- search-container -->

<script>
    // this allows user to enter search terms directly after loading the page
    document.getElementById('searchbox').focus();

    // just a sanity check
//     function bgColorHover(){
//         this.style = "background-color: blue;"
//     }
//     document.querySelectorAll('.ergebnis').forEach(el => {
//         el.addEventListener('mouseover', bgColorHover);
//     });
    function getArtikelText(id){
    // returns a promise; call function with getArtikelText(id).then()
        return fetch('http://10.98.228.171/artikel/api/' + id + '?json')
        .then(response => response.json()) 
        .then(json => (json.text))
    }
    function attachOnClick(e){
        if(e.target.tagName == "LI"){
            target = e.target;
        }else{
            target = e.target.parentNode;
        }
        
        let id = target.id;
        let div = target.getElementsByClassName("txt")[0];
        if(div.innerHTML){
            // if user clicks again, remove artikel-text
            div.innerHTML = "";
        }else{
            // display artikel-text, accordion-style
            getArtikelText(id)
            .then(txt => { div.innerHTML = txt; });
        }
    }
//     document.querySelectorAll('.ergebnis').forEach(el => {
//         el.addEventListener('click', attachOnClick);
//     });
    // using event object to attach callback function to one <ul> instead of 50 <li>
    let ul = document.getElementsByTagName('ul')[0];
    ul.addEventListener('click', e => { attachOnClick(e) }, false);
</script>
</body>
</html>
